* {
    margin: 0;
    padding: 0;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(236, 236, 225);
    
}
h1 {
    font-size: 60px;
    margin: 100px 100px 10px 100px;
    /* shorthand is top right bottom left */
    color: rgb(24, 3, 2);
}
h2 {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 50px 100px;
    color: gray;
}
h3 {
    font-size: 35px;
    font-weight:bold;
    margin: 100px 0px 20px 100px;
    color: rgb(0, 0, 0);
}
p {
    font-size: 16px;
    line-height: 2;
    margin: 10px 100px 40px 140px;
    color: black;
}
.indent {
    margin-left: 200px;
    color: rgba(255, 255, 255, 0.5);
}
/*}
.first {
    color: rgba(255, 255, 255, 0.25);
}
.last {
    color: rgba(255, 255, 255, 0.9); 
}*/
img {
    width: 500px;
    height: 500px;
    margin-left: 400px; /*tried to make it center bc i dont remember code */
    
}
a {
    color: rgb(231, 97, 135);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: pink;
}


/*h6 {
    font-size: 12px;
    font-weight: normal;
    margin: 50px 100px 50px 100px;
    color: gray;
}*/
